<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <section id="wrapper">
      {% include "shared/header" %} 

      {% for image in images %}
        <img id="news" src="{{image.path}}" alt="{{image.name}}" />
      {% endfor %}

          <section role="main">
            <ul class="posts">
              {% for post in children reversed %}
                <li>
                    <ul class="pictures">
                      {% for image in post.images %}
                        <li><img src="{{ image.path }}" /></li>
                      {% endfor %}
                    </ul>
                    <div class="headline"><h3>{{ post.title }}</h3></div>
                    <span class="label">{{ post.date }}</span>
                    {{ post.body }}
                    <br>
                </li>
              {% endfor %}
            </ul>
        </article>
    
      {% include "shared/footer" %}
    </section>
    {% include "shared/analytics" %}
  </body>
</html>