<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <section id="wrapper">
      {% include "shared/header" %} 
      
        <article>
          <h2>{{headline}}</h2>
            <section role="main">
              {{body}}
              <ul class="projects">
                  {% for project in children reversed %}
                    <li>
                        <a href="/projects/{{project.slug}}">{{project.headline}}</a>
                    </li>            
                  {% endfor %}
              </ul>

            </section>
        </article>
    
      {% include "shared/footer" %}
    </section>
    {% include "shared/analytics" %}
  </body>
</html>
