<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <section id="wrapper" class="shirt">
      {% include "shared/header" %}
      
      <article>
        <figure>
        {% for image in images %}
          <img src="{{image.path}}" alt="{{image.name}}" />
        {% endfor %}
        </figure>

  	  	<h2>{{headline}}</h2>
        <section role="main">
		      {{body}}
		    </section>
      </article>